<%= form_with(model: budget, local: true) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <form>

      <div class="field">
        <%= form.label :Date_de_debut %>
        <%= form.date_select :start_date %>
      </div>

      <div class="field">
        <%= form.label :Date_de_fin %>
        <%= form.date_select :end_date %>
      </div>

      <div class="form-group">
        <%= form.number_field :amount, placeholder: "Montant de ce budget", class:"form-control" %>
      </div>

      <hr>
      <p> Faites nous une liste de vos besoins </p>
      <%= form.fields_for :needs do |need| %>
        <h2>Besoin<%=need.index + 1%> </h2>

        <div class="form-group">
          <%= need.text_field :name, placeholder:"Nom" %>
        </div>
    
        <div class="field">
          <%= need.number_field :amount, placeholder:"Montant prévu pour ça" %>
        </div>
    
        <div class="field">
          <%= need.select :priority, ['Très important', 'Important', 'Pas important'] %>
        </div>
        <% end %>

      <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg") do %>
        <% if params[:id] %>
        Mettre à jour
        <% else %>
        Créer budget
        <% end %>
       <% end %>
</form>
<% end %>
