<%= form_with(model: budget, local: true) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <%= form.fields_for :needs do |need| %>
    <h2>Name of need<%=need.index + 1%> </h2>
    <div class="field">
      <%= need.label :name, "Name of need" %>
      <%= need.text_field :name %>
    </div>

    <div class="field">
      <%= need.label :amount, "Amount for this need" %>
      <%= need.number_field :amount %>
    </div>

    <div class="field">
      <%= need.label :priority, "This need priority" %>
      <%= need.select :priority, ['very important', 'important', 'not important'] %>
    </div>
    <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
