
<h1 class="text-center" >Budgets</h1>

<table class="table table-hover">
  <thead>
    <tr>
    <th scope="col">#</th>
      <th scope="col">Début </th>
      <th scope="col">Fin </th>
      <th scope="col"> Montant</th>
      <th scope="col">Utilisé</th>
      <th scope="col">Restant</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @budgets_recap.each_with_index do |budget,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= budget["start_date"] %></td>
        <td><%= budget["end_date"] %></td>
        <td><%= budget["amount"] %></td>
        <td><%= budget["used"] %></td>
        <td><%= budget["remain"] %></td>
        <td><%= link_to 'Détails', budget_path(budget["id"]) %></td>
        <td><%= link_to 'Modifier', edit_budget_path(budget["id"]) %></td>
        <td><%= link_to 'Supprimer', budget_path(budget["id"]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
      <div class="col-md-2 offset-md-2">
        <%= button_to 'Nouveau Budget', new_budget_path, :method => "get", class:"btn btn-primary btn-lg" %>
      </div>
</div>


