<h2>Détails du budget </h2
<p>
  <strong>Start date:</strong>
  <%= @budget.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @budget.end_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @budget.amount %>
</p>

<div class="col-md-2 offset-md-2">
<%= button_to 'Enregistrer une dépense', new_expense_path(budget_id: @budget.id), :method => "get", class:"btn btn-primary btn-lg" %>
</div>
<%= link_to 'Modifier', edit_budget_path(@budget) %> |
<%= link_to 'Retour', budgets_path %>
