<p id="notice"><%= notice %></p>

<h1>Expenses</h1>
<%= react_component("Page", { title: "Table Expense", description: " Cette page vous montre toutes les dépenses que vous avez enregistrées." }) %>
<table class="table table-hover">
<thead>
  <tr>
  <th scope="col">#</th>
    <th scope="col">Jour </th>
    <th scope="col">Besoin </th>
    <th scope="col"> Montant</th>
    <th scope="col">Date</th>
    <th scope="col">Description</th>
    <th scope="col" colspan="3">Action</th>
  </tr>
</thead>

<tbody>
  <% @budget.expenses.each_with_index do |expense,i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= expense.day %></td>
      <td><%= expense.need %></td>
      <td><%= expense.amount %></td>
      <td><%= expense.date %></td>
      <td><%= expense.description %></td>
      <td><%= link_to I18n.t('views.link.show'), expense %></td>
      <td><%= link_to I18n.t('views.link.edit'), edit_expense_path(expense) %></td>
      <td><%= link_to I18n.t('views.link.delete')', expense, method: :delete, data: { confirm: I18n.t('views.actions.confirm') } %></td>
    </tr>
  <% end %>
</tbody>
</table>
<br>

<br>


